

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.hero-unit { 
                background-color: transparent;
                margin: 2em 0 3em 0;
                padding: 0;
                }

div.navbar { 
             font-family: 'Josefin Slab', serif;
 }


h2 { 
     text-align: center;
     font-family: 'Josefin Slab', serif;
     font-variant: small-caps;

 }

div.row p { 
            font-family: 'Quando', serif;
 }


footer { 
         font-weight: 300;
         font-family: 'Josefin Slab', serif;
         padding:0;
         margin:0;

 }



/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
                        padding: 0;
                        }
.navbar .nav {
               margin: 0;
               display: table;
               width: 100%;
               }

.navbar-inner { 
                  border-radius: 20px;
                }

.navbar .nav li {
                  display: table-cell;
                  width: 1%;
                  float: none;
                  }
.navbar .nav li a {
                    font-weight: bold;
                    text-align: center;
                    /* border-left: 1px solid rgba(255,255,255,.75); */
                    border-right: 1px solid rgba(0,0,0,.1);
                    }
.navbar .nav li:first-child a {
                                border-left: 0;
                                border-radius: 20px 0 0 20px;
                                }
.navbar .nav li:last-child a {
                               border-right: 0;
                               border-radius: 0 20px 20px 0;
                               }










