
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.hero-unit { 
                background-color: transparent;
                margin: 2em 0 3em 0;
                padding: 0;
                }

div.navbar { 
             font-family: 'Josefin Slab', serif;
 }


h2 { 
     text-align: center;
     font-family: 'Josefin Slab', serif;
     font-variant: small-caps;

 }

div.row  { 
            font-family: 'Quando', serif;
 }


footer { 
         font-weight: 300;
         font-family: 'Josefin Slab', serif;
         padding:0;
         margin:0;

 }



/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
                        padding: 0;
                        }
.navbar .nav {
               margin: 0;
               display: table;
               width: 100%;
               }

.navbar-inner { 
                  border-radius: 20px;
                }

.navbar .nav li {
                  display: table-cell;
                  width: 1%;
                  float: none;
                  }
.navbar .nav li a {
                    font-weight: bold;
                    text-align: center;
                    /* border-left: 1px solid rgba(255,255,255,.75); */
                    border-right: 1px solid rgba(0,0,0,.1);
                    }
.navbar .nav li:first-child a {
                                border-left: 0;
                                border-radius: 20px 0 0 20px;
                                }
.navbar .nav li:last-child a {
                               border-right: 0;
                               border-radius: 0 20px 20px 0;
                               }

p.meta { 
         display:block;
         /* background-color: #eee; */
         border-bottom: 1px solid #eee;
         font-size: 0.7em;
 }

#rss { 
      float:right;
 }

h3 { 
     text-align: left;
     font-family: 'Josefin Slab', serif;
     font-variant: small-caps;

 }

h4 { 
     text-align: left;
     font-family: 'Josefin Slab', serif;
 }


blockquote { 
             font-size: 0.8em;
             background-color: #fafafa;
             padding: 1em;
             
 }

table {
    border: 1px solid #ccc;
    font-family: 'Quando', serif;
    margin: 2em;

}

table tr {
    border-bottom: 1px solid #ccc;
}
table th, table td {
    padding: 0.2em 2em 0.2em 0.5em;
    text-align: left;
}

/* table tr td:first-child { */
/*     width: 8em; */
/* } */

table th {
    background-color: #fafafa;
    margin: 0;
    padding:0;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

table th.h1 {
    border: 1px solid #ccc;
    background-color: #eee;
}

table th.h2 {
    padding: 0.2em 2em;
}

table td {
    padding: 1em;
    font-size: 0.8em;
}

ul.posts li span {
    font-family: monospace;
}

