<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/rwd.css" type="text/css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>{{ page.title }}</title>
</head>

<body>

    <header class="header" role="banner" data-aos="flip-down">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="/img/lycaeum-logo.png" alt="lycaeum" width="135"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li {%if page.title == "About" %}class="nav-link active" {%endif%}>
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li {%if page.title == "People" %}class="nav-link active" {%endif%}>
                        <a class="nav-link" href="/people">People</a>
                    </li>
                    <li {%if page.title == "Blog" %}class="nav-link active" {%endif%}>
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li {%if page.title == "Contact" %}class="nav-link active" {%endif%}>
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {{content}}

    <footer class="pb-5">
        <div class="container">
            <div class="row  mb-5 pt-5">
                <div class="col-md-6"><img src="/img/lycaeum-logo-footer.png" alt="lycaeum" class="img-fluid" width="135"></div>
                <div class="col-md-6">
                    <ul class="list-unstyled list-inline text-md-right quicklink">
                        <li class="list-inline-item"><a href="/about">About</a></li>
                        <li class="list-inline-item"><a href="/people">People</a></li>
                        <li class="list-inline-item"><a href="/blog">Blog</a></li>
                        <li class="list-inline-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <ul class="list-unstyled list-inline text-md-right quicklink">
                        <li class="list-inline-item"><a href="https://www.facebook.com/pages/The-Lycaeum/474926682642815" target="_blank"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/thelycaeum" target="_blank"><i class="icon ion-logo-twitter"></i></a></li>
                        <!--
                        <li class="list-inline-item"><a href=""><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="icon ion-logo-linkedin"></i></a></li>
-->
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-6">
                    © 2019 Lycaeum
                </div>
                <!--
                <div class="col-md-6 text-md-right">
                    Made by <a href="https://hamon.in/" target="_blank">HAMON TECHNOLOGY</a>
                </div>
-->
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
        $(function() {
            AOS.init({
                easing: 'ease-out-back',
                duration: 1000
            });
        });

    </script>
</body>

</html>
