---
layout: base
---
<div class="navbar span7 offset2">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li {%if page.title == "Welcome" %}class="active"{%endif%}><a href="/index.html">About</a></li>
        <li {%if page.title == "Blog" %}class="active"{%endif%}><a href="/blog/index.html">Blog</a></li>
        <li {%if page.title == "Resources" %}class="active"{%endif%}><a href="/resources.html">Resources</a></li>
        <li {%if page.title == "Calendar" %}class="active"{%endif%}><a href="/calendar.html">Calendar</a></li>
        <li {%if page.title == "Contact" %}class="active"{%endif%}><a href="/contact.html">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<!-- Example row of columns -->
<div class="row">
  <div class="span8 offset2">
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
</div>
