---
layout: base
---

        <div class="hb" data-aos="fade-in">
        <div id="hb" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/home_banner.jpg" class="d-block w-100 img-fluid" alt="hb">
                    <div class="container">
                        <div class="col-lg-5">
                            <div class="carousel-caption" data-aos="fade-up">
                                <h1 class="mb-4">{{ page.hbtitle }}</h1>
                                <p class="mb-4 d-none d-md-block">Registrations for the Jan 2019 batch of the mentoring course are now open.</p>
                                <a class="btn btn-theme" href="">Register</a> <a href="/contact.html" class="link">CONTACT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="followus" data-aos="fade-down">
            <ul class="list-unstyled">
                <li><a href=""><i class="icon ion-logo-facebook"></i></a></li>
                <li><a href=""><i class="icon ion-logo-twitter"></i></a></li>
                <li><a href=""><i class="icon ion-logo-instagram"></i></a></li>
                <li><a href=""><i class="icon ion-logo-linkedin"></i></a></li>
                <span>FOLLOW&nbsp;US</span>
            </ul>

        </div>
    </div>
    
{{content}}
